<!DOCTYPE html>
<html lang="en">

<body>

<nav id="navigation_bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <div id="nav_bar_header" class="navbar-header">
            <a id="nav_bar_website_name" class="navbar-brand">{{ webPageName }}</a>
        </div>
        <div>
            <ul id="nav_bar_buttons_list" class="nav navbar-nav">
                <li id="nav_bar_button_home"><a href="#">Home</a></li>
                <li id="nav_bar_button_categories"><a href="#">Categories</a></li>
                <li id="nav_bar_button_about" class="pull-right"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>